<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong> {{ todoLeft }}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li *ngFor="let filtro of filtros">
      <a
        (click)="setFilter(filtro)"
        [ngClass]="{ selected: filtro == filtroActual }"
        href="#/"
        >{{ filtro | titlecase }}</a
      >
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed"  (click)="deleteAllCompleted()">Clear completed</button>
</footer>
